# Linear Regression Example

In this example, we will build a linear regression with two independent variables.  This linear regression model is also called multiple linear regression.
1) Load the dataset 'OmniPower.csv'
2) Create a Linear Regression Model with two independent variables (Price and Promotion), one dependent variable (Sale)
3) Provide input values and predict the Sale
4) What is the R square value?

In [48]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Load the dataset

In [49]:
df=pd.read_csv('OmniPower.csv')
print(df)
df.head()

    Sales  Price  Promotion
0    4141     59        200
1    3842     59        200
2    3056     59        200
3    3519     59        200
4    4226     59        400
5    4630     59        400
6    3507     59        400
7    3754     59        400
8    5000     59        600
9    5120     59        600
10   4011     59        600
11   5015     59        600
12   1916     79        200
13    675     79        200
14   3636     79        200
15   3224     79        200
16   2295     79        400
17   2730     79        400
18   2618     79        400
19   4421     79        400
20   4113     79        600
21   3746     79        600
22   3532     79        600
23   3825     79        600
24   1096     99        200
25    761     99        200
26   2088     99        200
27    820     99        200
28   2114     99        400
29   1882     99        400
30   2159     99        400
31   1602     99        400
32   3354     99        600
33   2927     99        600

   Sales  Price  Promotion
0   4141     59        200
1   3842     59        200
2   3056     59        200
3   3519     59        200
4   4226     59        400

### features and target

In [50]:
x=df[["Price", "Promotion"]] #independent  --> feature
y=df["Sales"] # dependent  --> target

print(x)
print(y)

    Price  Promotion
0      59        200
1      59        200
2      59        200
3      59        200
4      59        400
5      59        400
6      59        400
7      59        400
8      59        600
9      59        600
10     59        600
11     59        600
12     79        200
13     79        200
14     79        200
15     79        200
16     79        400
17     79        400
18     79        400
19     79        400
20     79        600
21     79        600
22     79        600
23     79        600
24     99        200
25     99        200
26     99        200
27     99        200
28     99        400
29     99        400
30     99        400
31     99        400
32     99        600
33     99        600
0     4141
1     3842
2     3056
3     3519
4     4226
5     4630
6     3507
7     3754
8     5000
9     5120
10    4011
11    5015
12    1916
13     675
14    3636
15    3224
16    2295
17    2730
18    2618
19    4421
20    4113
21    3746
22    3532
23    3825
24    1096
25     761
26    2088
27     820
28    2114
29    1882
30    2159
31    1602
32    3354
33    2927
Name: Sales, dtype: int64

### split dataset

In [51]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2, random_state=42)

print("X-Train \n",x_train.shape)
print("Y-Train: \n",x_test.shape)

X-Train
 (27, 2)
Y-Train:
 (7, 2)

### Model Training

In [52]:
model=LinearRegression()
model.fit(x_train, y_train)

print("Coefficient: \n",model.coef_)
print("Intercept: \n",model.intercept_)
print("Model Score: \n",model.score(x_train, y_train))

Coefficient:
 [-54.58053157   3.91694414]
Intercept:
 5730.030909336212
Model Score:
 0.7537482665837636

### Predictions

In [53]:
y_pred=model.predict(x_test)

print ("Predictions: \n", y_pred)

Predictions:
 [2201.5577442  2984.94657312 1109.94711279 1109.94711279 4859.94603346
 1109.94711279 3768.33540205]

### Model Evaluation

In [54]:
mse=mean_squared_error(y_test, y_pred)
r2_score=r2_score(y_test, y_pred)

print("Mean Square Error: \n", mse)
print("r2 Score: \n", r2_score)

Mean Square Error:
 595514.6993381971
r2 Score:
 0.7358802563295198

### Predict the sales

In [60]:
predict_sales=pd.DataFrame(model.predict([[59,200]]))
print(predict_sales)

             0
0  3293.168376

/home/codespace/.local/lib/python3.12/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(